{% comment %}
Dawnのdiv#ProductInfo-{{ section.id }}内に存在する{%- for block in section.blocks -%}ループ内に記述を追加します。
{% endcomment %}
<div id="ProductInfo-{{ section.id }}" class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}">
  {%- assign product_form_id = 'product-form-' | append: section.id -%}
  {%- for block in section.blocks -%}
    {%- case block.type -%}
    {% comment %}
    {%- case block.type -%}〜{%- endcase -%}の間に以下コードを追加します。
    Dawnの既存記述{%- when 'text' -%}や{%- when 'title' -%}などのコード途中に追加しないよう、記述位置に注意してください。
    {% endcomment %}
    {%- when 'release_date' -%}
      {%- if product.metafields.my_fields.release_date.value != blank -%}
        <p>{{ block.settings.text }}</p>
      {%- endif -%}
    {% comment %}
    以下は追加位置を明確にするための既存記述サンプルです。
    {% endcomment %}
    {%- when 'text' -%}
      <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" {{ block.shopify_attributes }}>
        {{- block.settings.text -}}
      </p>
    {% comment %}
    以下記述は省略
    {% endcomment %}
    {%- endcase -%}
  {%- endfor -%}
</div>

{% comment %}
  JSONに関する補足

  "blocks"内の記述について
  46〜57行目の記述を、Dawnのblocks配列内、任意の場所に追加してください。
  blocks末尾に追加する場合、57行目のカンマは不要です。

  58行目以降の記述は、追加位置をわかりやすくするためのサンプルです。内容は省略しています。

{% endcomment %}
{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "release_date",
      "name": "発売日",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "発売日：",
          "label": "発売日"
        }
      ]
    },
    {
      "type": "text",
    }
  ],
  "settings": [
  ]
}
{% endschema %}
