<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    {% comment %}Dawnの元記述は省略し、タイポグラフィの編集箇所のみを抜粋{% endcomment %}

    {% style %}

      :root {
        {% comment %}
        CSS変数--font-body-familyに日本語フォント用の記述を追加します。
        {% endcomment %}
        --font-body-family: {{ settings.type_body_font.family }}, {%- unless settings.type_body_jp_font == blank -%} {{ settings.type_body_jp_font }}, {%- endunless -%}{{ settings.type_body_font.fallback_families }};

        {% comment %}以降のDawn記述は省略{% endcomment %}
      }

      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 1.5rem;
        letter-spacing: 0.06rem;
        line-height: calc(1 + 0.8 / var(--font-body-scale));
        {% comment %}
        CSS変数--font-body-familyはここでbody要素のfont-familyに指定されています。
        {% endcomment %}
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
      }

      @media screen and (min-width: 750px) {
        body {
          font-size: 1.6rem;
        }
      }
    {% endstyle %}

    {% comment %}
    h1〜h5までの見出し要素の文字サイズは、以下base.css内で相対的に指定されています。--font-heading-scaleで検索し、必要に応じてバランスを調整してみてください。
    {% endcomment %}
    {{ 'base.css' | asset_url | stylesheet_tag }}

    {% comment %}以降のDawn記述は省略{% endcomment %}
  </head>

  <body class="gradient">
    {% comment %}Dawnの元記述は省略{% endcomment %}
  </body>
</html>
